name: Run Opensearch Pipeline

permissions:
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]

jobs:
  Wait-for-images:
    runs-on: ubuntu-latest
    outputs:
      conclusion: ${{ steps.wait.outputs.conclusion }}
    steps:
      - name: Wait for dev_build.yml to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@8d542a426ce561c7dce745f6b9cee068d1d7e101  #v2.0.10
        id: wait
        with:
          workflow: dev_build.yml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
  Opensearch-Pipeline:
    needs: Wait-for-images
    uses: Netcracker/qubership-test-pipelines/.github/workflows/opensearch.yaml@4cb7d7c09d0205268066b130c8c6205d9232507b #v1.4.1
    with:
      service_branch: '${{ github.head_ref || github.ref_name }}'
      pipeline_branch: '4cb7d7c09d0205268066b130c8c6205d9232507b' #this value must match the value after '@' in 'uses'
      runner_type: 'ubuntu-latest'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
      AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}
