name: Run Opensearch Pipeline

permissions:
  contents: read

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]

jobs:
  Wait-for-images:
    runs-on: ubuntu-latest
    outputs:
      conclusion: ${{ steps.wait.outputs.conclusion }}
    steps:
      - name: Wait for push.yml to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@main
        id: wait
        with:
          workflow: push.yml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
  Opensearch-Pipeline:
    uses: Netcracker/qubership-test-pipelines/.github/workflows/opensearch.yaml@opensearch_github_runners
    with:
      service_branch: '${{ github.head_ref || github.ref_name }}'
      versions_file: '.github/versions.yaml'
      pipeline_branch: 'opensearch_github_runners' #this value must match the value after '@' in 'uses'
      runner_type: 'ubuntu-latest'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
      AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}
